#gadget {
	margin: 10px;
}

#school-info {
	width: 50%;
}

#school-info tr td:first-child {
	width: 100px;
	text-align: right;
}

#school-logo {
	margin: 10px;
	width: 50%;
	height: 60px;
}

#course-list {
	width: 50%;
}